div {
    border: 1px solid blue;
    color: white;
    margin: 150px;
    text-align: center;
    
}
body {
    background-color: black;
}
.texto {
    color: white;
    text-align: center;
    font-size: 30px;
}